{{=<% %>=}}

<%# message.id %>
<ion-card core-external-content>
    <ion-item>
<!--         <ion-img alt="Prayer" class="broadcast-img" src="<%config.wwwroot%>/blocks/broadcast/pix/prayer.png" core-external-content>
        </ion-img>     -->    

        <ion-label>
            <core-format-text class="broadcast-msg" text="<%message.message%>"></core-format-text>
        </ion-label>        
        
</ion-item>
<!-- <ion-item>
    <ion-img alt="Prayer" class="broadcast-bottom-img" src="<%config.wwwroot%>/blocks/broadcast/pix/BG.png" core-external-content></ion-img>
</ion-item> -->

      </ion-card>
<%/ message.id %>
